@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-[#FEFBF6] antialiased;
}

.font-primary {
  font-family: var(--font-cairo);
}

[dir="ltr"] .font-primary {
  font-family: var(--font-inter);
}
